.currency {
    width: 320px;
    font:16px Arial, Helvetica, sans-serif; color:#666666; text-decoration:none;
    margin:0;
    padding:0px 10px 3px ;
    border:1px solid #d8d8d8;
    border-width:0 1px;
    text-align:center;
}
.currency tr{
    border-bottom:1px solid #d8d8d8;

}
input {
    width:80px;
}
.result{
    width:500px;
    height:500px;
    border:1px solid #000;
}
.getValue {
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    border-radius: 3px;

}
textarea {
    display: block;
}